{% extends "_layouts/menu.html" %}

{% block page_title %}Evaluation System{% endblock %}
{% block page_class %}home-page{% endblock %}
{% block content %}

{% load bootstrap3 %}

{# Load CSS and JavaScript #}

{% load settingstags %}
{% bootstrap_javascript %}


<!-- Show an error message after accessing a protected page -->
{% if login_failed and not request.GET.login_required%}
<div class="container">
	<div class="row">
		<div class="col-md-12">
			<div class="alert alert-danger">
				<p> Wrong user name or password. </p>
			</div>
		</div>
	</div>
</div>

{% if next %}
<script type="text/javascript">
$('document').ready(function() {
// assig next parameter
$("#next_page").val("{{next}}");
});
{% endif %}

{% else %}
<script type="text/javascript">
$('document').ready(function() {
// assig next parameter
{% if next %}
$("#next_page").val("{{next}}");
{% elif guest_login and user.get_username == 'guest' %}
#restartTour();
{% endif %}
});
{% endif %}
</script>
{% if request.GET.login_required %}
<div class="container">
	<div class="row">
		<div class="col-md-12">
			<div class="alert alert-danger">
				<p> Please, login to access the requested page. </p>
			</div>
		</div>
	</div>
</div>
{% endif %}
<div class="container">
<!-- Slider (Parallax Slider) -->
       <div class="row">
         <div class="col-md-12">     
            <div id="da-slider" class="da-slider">
                <div class="da-slide">
                    <p class="info">
                      <strong>The website</strong> shows CMIP evaluation results produced with the Earth System Model Evaluation Tool
                      (ESMValTool, http://www.esmvaltool.org/). The ESMValTool includes a large collection of diagnostics and performance
                      metrics for variables across atmosphere, ocean, and land, focusing on the mean-state, trends, variability, as well
                      as important processes and emergent constraints. It also includes targeted analysis packages such as the NCAR Climate
                      Variability Diagnostics Package. A set of standard namelists for each scientific topic reproduces specific sets of
                      diagnostics or performance metrics that have demonstrated their importance in ESM evaluation in the peer-reviewed
                      literature. The ESMValTool results are visualized with the Freie University evaluation system (FREVA).
                    </p>
                </div>
                <div class="da-slide">
                    <p class="info">
                        <strong>The CMIP6 evaluation</strong> results produced with the ESMValTool are made publically available on this
                        website without password restriction. Initially this website shows CMIP5 results that are already published. Newly
                        produced results for CMIP6 will initially be water-marked and will only be made available without water-mark once
                        quality control has happened and possible papers have been written. This strategy has been supported, encouraged,
                        and approved by the WCRP Working Group of Coupled Modelling (WGCM). Therefore, all CMIP6 results presented on this
                        website are strictly confidential as long as they are water-marked and should not be used in publications. We
                        encourage all CMIP6 modelling groups to quality control the results for their models. Please follow the CMIP6 
                        Terms of Use.
                    </p>
                </div>
		<div class="da-slide">
		  <p class="info">
                    <strong>View Results</strong><br>
		    … in the Results-Browser. The result browser includes a search function that allows you to sort the 
                    ESMValTool by (a) ESMValTool namelist, (b) Projects, (c) CMIP6 Realms, (d) Themes, (e) Domain, (f) Plot Type, 
                    (g) Statistics, (h) References, (i) Variables, (j) Models (including the multi-model mean and observations),
                    and (k) Results. Each figure includes a figure caption that is displayed alongside with the figure, and also
                    includes metadata that are displayed when you click on the figure. These metadata include the ESMValTool
                    configuration used to calculate and plot the figure, Program's output, Notes, and Results. </p>
		</div>
		<div class="da-slide">
		  <p class="info">
                    <strong>View Data</strong><br>
		    … in the Data-Browser. All CMIP5 datasets available on the DKRZ are scanned and indexed in a special server (SOLR). 
                      This allows us to query the server which responds almost immediately. <br><br>Currently, access to the Data-Browser
                      is only available for logged in users. </p>
		</div>
				<nav class="da-arrows">
					<span class="da-arrows-prev"></span>
					<span class="da-arrows-next"></span>
				</nav>
			</div>
        </div>
        </div>  
            <!-- Slider ends -->
	<div class="bor"></div>
	
	<!-- Service starts -->
            
            <div class="services">
                  <div class="row">
                     <div class="col-md-6">
                     
                        <!-- Service #1 -->
                        <div class="service">
                           <!-- Icon & title. Font Awesome icon used. -->
                           <h5><span><i class="glyphicon glyphicon-search"></i> {% settings_val 'HOMEPAGE_HEADING'%}</span></h5>
                           <p>{% settings_val 'HOMEPAGE_TEXT'%}</p>
                        </div>
                        
                     </div>
                     <div class="col-md-6">
                     
                        <!-- Service #2 -->
                        <div class="service">
                           <!-- Icon & title. Font Awesome icon used. -->
                           <h5><span><i class="glyphicon glyphicon-search"></i> Freva - Freie Universität Berlin Evaluation System </span></h5>
                           <p>
                           The MiKlip INTEGRATION project provides a 
                           standardized data and evaluation system framework - 
                           developed at the Freie Universität Berlin in Germany.
                           Freva provides efficient and comprehensive access to 
                           the model data base as well as to evaluation data 
                           sets. The application system is developed as an easy 
                           to use low-end application minimizing technical 
                           requirements for users and tool developers. 
							</p>
                        </div>                     
                        
                     </div>

                  </div>
            </div>
            
            <!-- Serivce ends -->


  </div>
  
  <!-- Modal Guest Dialog-->
  <div class="modal fade" id="guestModal" tabindex="-1" role="dialog" aria-labelledby="guestModal" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title">Guest login</h4>
        </div>
        <div class="modal-body" id="guest_text">
          	
        	<div class="form-group">
        		<p class="help-block">Dear Guest,</p>
        		<p class="help-block">welcome to the MiKlip homepage! 
        		You certainly have restricted permissions and not access to all features of this homepage.
        		</p>
        		<p class="help-block">
                        We invite you to explore the homepage and the evaluation system. Enjoy the browsing!
                        </p>
			</div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Ok</button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->
 
<script type="text/javascript">
			$(function() {
				$('#da-slider').cslider({
					autoplay	: true,
					interval : 6000
				});
			
			});
		</script>	
{% endblock %}
